Repository P4FFos/FitVenture: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_applicationCI, trigger_arduinoCI

trigger_applicationCI:
  stage: triggers
  trigger:
    include: applicationCI/.gitlab-ci.yml

trigger_arduinoCI:
  stage: triggers
  trigger:
    include: arduinoCI/.gitlab-ci.yml

Issue#42 Remove bash file from arduinoCI folder for a test
  arduinoEnv.sh
Due: none

Issue#42 Remove bash file to test pipe
  arduinoEnv.sh
Due: none

Issue#42 Fix indentation problem in arduinoCI folder and readd bash file
  arduinoCI/.gitlab-ci.yml
  arduinoCI/arduinoEnv.sh
Due: trigger_arduinoCI

Issue#42 Test gitlab response to change in applicationCI child pipeline
  applicationCI/.gitlab-ci.yml
Due: trigger_applicationCI

Issue#42 Remove rules for child pipelines showin up
  .gitlab-ci.yml
Due: none

Issue#42 Add folder name to before_script in arduinoCI file
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Fix path to bash file Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Give permission to bash file Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Change path to arduino code file Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Fix path for arduino code Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Test new path configuration for arduino code Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Implement deploy stage for arduino CI pipline Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Revert "Issue"
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Change tag for arduino CI file to docker Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Change arduino file name Co-authored-by: Danis Music danism@student.chalmers.se
  src/main/twoTierApplication/fitVenture/Wio/Wio.ino
Due: none

Issue#42 Put necessary dependencies into bash file Co-authored-by: Danis Music danism@student.chalmers.se
  arduinoCI/arduinoEnv.sh
Due: trigger_arduinoCI

Issue#42 Add missing semi-colons in the wio file Co-authored-by: Danis Music danism@student.chalmers.se
  src/main/twoTierApplication/fitVenture/Wio/Wio.ino
Due: none

Issue#18 Implement chart for completed goals
  src/main/resources/fitVenture/ui/GoalsScene.fxml
  src/main/twoTierApplication/fitVenture/backend/database/userDataStorage.json
  src/main/twoTierApplication/fitVenture/backend/user/User.java
  src/main/twoTierApplication/fitVenture/backend/utils/Current_Date.java
  src/main/twoTierApplication/fitVenture/ui/GoalsController.java
  src/main/twoTierApplication/fitVenture/ui/MainDashboardController.java
Due: none

Issue#22 Fix the bug with running goals not displaying on the start-up
  src/main/resources/fitVenture/ui/GoalsScene.fxml
  src/main/twoTierApplication/fitVenture/backend/database/userDataStorage.json
  src/main/twoTierApplication/fitVenture/ui/GoalsController.java
  src/main/twoTierApplication/fitVenture/ui/MainDashboardController.java
Due: none

Issue#22 start developing running goals creation
  src/main/resources/fitVenture/ui/GoalsScene.fxml
  src/main/twoTierApplication/fitVenture/backend/goal/RunningGoal.java
  src/main/twoTierApplication/fitVenture/backend/user/User.java
  src/main/twoTierApplication/fitVenture/ui/GoalsController.java
Due: none

Issue#22 Fix null pointer exception bug
  .idea/vcs.xml
  src/main/twoTierApplication/fitVenture/backend/database/userDataStorage.json
  src/main/twoTierApplication/fitVenture/backend/goal/RunningGoal.java
  src/main/twoTierApplication/fitVenture/backend/user/User.java
  src/main/twoTierApplication/fitVenture/ui/GoalsController.java
Due: none

Issue#22 Fix the naming of the variables in the GoalsScene fxml file
  src/main/resources/fitVenture/ui/GoalsScene.fxml
Due: none

Issue#38 add mqtt signal confirmation to the wio terminal
  src/main/twoTierApplication/fitVenture/Wio/sketch_demo.ino
Due: none

Issue#27 add a 3 hours window for suggestions and a check for valid himidity and temp values
  src/main/twoTierApplication/fitVenture/Wio/sketch_demo.ino
Due: none

test out the pipline
  src/main/twoTierApplication/fitVenture/backend/user/User.java
Due: none

Issue#42 Add arduino-cli image to arduinoCI file
  arduinoCI/.gitlab-ci.yml
  src/main/twoTierApplication/fitVenture/backend/user/User.java
Due: trigger_arduinoCI

Issue#42 Add image manually to both builds
  arduinoCI/.gitlab-ci.yml
  arduinoCI/arduinoEnv.sh
Due: trigger_arduinoCI

Issue#42 Change image to arduino-cli
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Use two separate images
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Add script syntax for before_script after image
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Ŕevert change from previous commit
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Remove version in PubSubClient arduino-cli install
  arduinoCI/arduinoEnv.sh
Due: trigger_arduinoCI

Issue#39 publish temperature and humidity data - This will help with the displaying the temperature and the humidity sensor to the app
  src/main/twoTierApplication/fitVenture/Wio/sketch_demo.ino
Due: none

Issue#42 Remove separate image in jobs
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Fix path to arduino file for uploading sketch during release job
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Revers previous commit
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Issue#42 Add Wio.ino to upload
  arduinoCI/.gitlab-ci.yml
Due: trigger_arduinoCI

Path conditions:
  trigger_applicationCI: any of: applicationCI/*
  trigger_arduinoCI: any of: arduinoCI/*
